*{
  font-family: arial;
  box-sizing: content-box;
}

.body{
  background-color: rgb(202, 200, 200);
}

.section__title{
 margin-top: 28px;
 margin-bottom: 16px;
 text-align: center;
}

.panel__cards{
  background-color: rgba(163, 161, 160, 0.847);
  position:relative;
  margin:10px auto;
  outline: 3px solid black;
}

.header__cards{
  padding: 0 19px;
  display:flex;
  position:absolute;
  top:0; right:0;
  margin: 0 auto;
  border: 1px solid black;
}

.card__one{
  background-color: rgb(215, 109, 109);
}

.card__two{
  background-color: rgb(226, 3, 3);
  color: white;
}

.card__three{
  background-color: rgb(235, 241, 71);
}

.cards__title{
  font-size: 19px;
  letter-spacing: 2px;
  margin: 0 auto;
}

.cards__content{
  margin-top: 1.6rem;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards__text{
  font-size: 14px;
}


/*Section Responsive*/

@media (min-width: 950px) and (max-width: 1199px) {
  
 body{
  background-color: red;
 }

}